
.card{
    display: flex;
    justify-content: center;
    display: inline-block;
    margin: 15px;
    background: linear-gradient(#333,#444,#999);
}
#root{
    background: #57607A;
    
}

.Movies{
    display: flex;
    justify-content: center;
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.103);
    border-radius: 15%;
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273);
}
.container{
    border-radius: 10px;
    background: #57697a;
}
h1{
    color: #edf6ff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    
}
.generos {
    color:#daedff ;
    display: block;
    text-align: center;
}